.ownerList {
    font-size: 0.75em;
}

.icon--dog {
    width: 4rem;
    height: 4rem;
}

.animal--article {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 1.5rem;
    /* box-shadow: 5px 6px #bebebe; */
}

.allAnimals {
    display: flex;
    flex-flow: row wrap;
}

.card-body {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 1.5rem;
    /* box-shadow: 5px 6px #bebebe; */
}

.delete-animal-btn {
    margin: 1rem;
}

.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
  }