.icon--location {
    width: 4rem;
    height: 4rem;
}

.location-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.location-card {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 1.5rem;
}